### Self-Study Colab Activity 4.1: Basic Joins on Datasets

**Expected Time: 60 Minutes**


This activity focuses on using the `merge` function to join DataFrames as seen in Videos 4.1 and 4.2.  Merging DataFrames allows the combination of data along a shared categorical column.  The DataFrames do not need to be the same shape, and depending on the arguments used, the result of a merge can contain different values.  Specifically, using different kinds of joins -- `inner, outer, left, right`, different DataFrames are produced.  

## Index:

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)
- [Problem 5](#Problem-5)

In [1]:
import pandas as pd

### The Data: Antarctic Weather Stations

The dataset for this activity is four `.csv` files.  The file names and descriptions of the data are as follows:

- `person.csv`: people who took readings.
- `site.csv`: locations where readings were taken.
- `visited.csv`: when readings were taken at specific sites.
- `survey.csv`: the actual readings. The field quant is short for quantity and indicates what is being measured. Values are rad, sal, and temp referring to ‘radiation', ‘salinity’ and ‘temperature', respectively.

Each dataset is loaded below, and basic info displayed.

In [2]:
site = pd.read_csv('data/site.csv')

In [5]:
site.head(10)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [6]:
site.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   lat     3 non-null      float64
 2   long    3 non-null      float64
dtypes: float64(2), object(1)
memory usage: 204.0+ bytes

In [7]:
visited = pd.read_csv('data/visited.csv')

In [8]:
visited.head(2)

    id  site       dated
0  619  DR-1  1927-02-08
1  622  DR-1  1927-02-10

In [9]:
visited.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      int64
 1   site    8 non-null      object
 2   dated   7 non-null      object
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes

In [24]:
person = pd.read_csv('data/person.csv')
person.head()

         id   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth

In [11]:
survey = pd.read_csv('data/survey.csv')
survey.head(2)

   taken person quant  reading
0    619   dyer   rad     9.82
1    619   dyer   sal     0.13

In [12]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   taken    21 non-null     int64
 1   person   19 non-null     object
 2   quant    21 non-null     object
 3   reading  21 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 804.0+ bytes

[Back to top](#Index:) 

### Problem 1

#### Merging site and visited


Note that in the `site` data, the `name` column contains the same information as in the `visited` data `name` column.  Use  `pd.merge` to merge the `site` DataFame with the `visited` one based on the shared column.  Use `site` as your left DataFrame and `visited` as your right.  Assign your result as a DataFrame to `site_visits_df` below.

In [15]:


site_visits_df = None

site_visits_df = pd.merge(left=site, right=visited, left_on = "name", right_on="site")

# Answer check
print(type(site_visits_df), site_visits_df.shape)
print(site_visits_df.head())

<class 'pandas.core.frame.DataFrame'> (8, 6)
   name    lat    long   id  site       dated
0  DR-1 -49.85 -128.57  619  DR-1  1927-02-08
1  DR-1 -49.85 -128.57  622  DR-1  1927-02-10
2  DR-1 -49.85 -128.57  844  DR-1  1932-03-22
3  DR-3 -47.15 -126.72  734  DR-3  1930-01-07
4  DR-3 -47.15 -126.72  735  DR-3  1930-01-12

[Back to top](#Index:) 

### Problem 2

#### Revisit with shared Column Name




Use the `rename` function to rename the `visited` `site` column to `name` and assign it to the variable `visited_renamed`.

Merge the `site` and the `visited_renamed` Dataframes on `name` and assign the result of the merge to `site_visits_df2` below.  

Note that your solution should have one column fewer than the solution to Problem 1.

In [19]:


visited_renamed = visited.rename(columns={"site":"name"})
site_visits_df2 = pd.merge(left=site, right = visited_renamed, left_on = "name", right_on="name")



# Answer check
print(site_visits_df2.shape)
site_visits_df2.head()

(8, 5)

   name    lat    long   id       dated
0  DR-1 -49.85 -128.57  619  1927-02-08
1  DR-1 -49.85 -128.57  622  1927-02-10
2  DR-1 -49.85 -128.57  844  1932-03-22
3  DR-3 -47.15 -126.72  734  1930-01-07
4  DR-3 -47.15 -126.72  735  1930-01-12

[Back to top](#Index:) 

### Problem 3

#### Merging the Survey Results



The effect of merging the `site` and `visited` is that a DataFrame with each site's name, location, visit id, and date has been created. 

To include the data collected at each site in these visits, the survey data needs to be consulted.  

Identify the shared column in the `site_visits_df2` data and the `survey` data, and merge the data based on this column.  

Rename the column in the `survey` frame from `taken` to `id` not to have a redundant column in the data and assign your merged DataFrame to `survey_site_visits` below.

In [20]:
site_visits_df2.head(2)

   name    lat    long   id       dated
0  DR-1 -49.85 -128.57  619  1927-02-08
1  DR-1 -49.85 -128.57  622  1927-02-10

In [21]:
survey.head(2)

   taken person quant  reading
0    619   dyer   rad     9.82
1    619   dyer   sal     0.13

In [22]:
survey_site_visits = None

survey_renamed = survey.rename(columns = {"taken": "id"})

survey_site_visits = pd.merge(left = site_visits_df2, right = survey_renamed, left_on = "id", right_on="id")
# Answer check
print(survey_site_visits)
print(type(survey_site_visits))

     name    lat    long   id       dated person quant  reading
0    DR-1 -49.85 -128.57  619  1927-02-08   dyer   rad     9.82
1    DR-1 -49.85 -128.57  619  1927-02-08   dyer   sal     0.13
2    DR-1 -49.85 -128.57  622  1927-02-10   dyer   rad     7.80
3    DR-1 -49.85 -128.57  622  1927-02-10   dyer   sal     0.09
4    DR-1 -49.85 -128.57  844  1932-03-22    roe   rad    11.25
5    DR-3 -47.15 -126.72  734  1930-01-07     pb   rad     8.41
6    DR-3 -47.15 -126.72  734  1930-01-07   lake   sal     0.05
7    DR-3 -47.15 -126.72  734  1930-01-07     pb  temp   -21.50
8    DR-3 -47.15 -126.72  735  1930-01-12     pb   rad     7.22
9    DR-3 -47.15 -126.72  735  1930-01-12    NaN   sal     0.06
10   DR-3 -47.15 -126.72  735  1930-01-12    NaN  temp   -26.00
11   DR-3 -47.15 -126.72  751  1930-02-26     pb   rad     4.35
12   DR-3 -47.15 -126.72  751  1930-02-26     pb  temp   -18.50
13   DR-3 -47.15 -126.72  751  1930-02-26   lake   sal     0.10
14   DR-3 -47.15 -126.72  752         NaN   lake   rad     2.19
15   DR-3 -47.15 -126.72  752         NaN   lake   sal     0.09
16   DR-3 -47.15 -126.72  752         NaN   lake  temp   -16.00
17   DR-3 -47.15 -126.72  752         NaN    roe   sal    41.60
18  MSK-4 -48.87 -123.40  837  1932-01-14   lake   rad     1.46
19  MSK-4 -48.87 -123.40  837  1932-01-14   lake   sal     0.21
20  MSK-4 -48.87 -123.40  837  1932-01-14    roe   sal    22.50
<class 'pandas.core.frame.DataFrame'>

[Back to top](#Index:) 

### Problem 4

### Adding Full Names



Use the `rename` function to rename the `survey_site_visits` `person` column to `person_id` and assign it to the variable `left`.

Use the `rename` function to rename the `person` `id` column to `person_id` and assign it to the variable `right`.

Merge the `left` and the `right` Dataframes on `person_id` and assign the result of the merge to `full_name_df`. below.

In [23]:



left = survey_site_visits.rename(columns = {"person" : "person_id"})
right = person.rename(columns = {"id": "person_id"})
full_name_df = pd.merge(left, right, left_on = "person_id", right_on="person_id")


# Answer check
print(type(full_name_df))
full_name_df.head(2)

<class 'pandas.core.frame.DataFrame'>

,name,lat,long,id,dated,person_id,quant,reading,personal,family
0,DR-1,-49.85,-128.57,619,1927-02-08,dyer,rad,9.82,William,Dyer
1,DR-1,-49.85,-128.57,619,1927-02-08,dyer,sal,0.13,William,Dyer

[Back to top](#Index:) 

### Problem 5

#### `left` vs. `right` merge



Below two new DataFrames -- `df1` and `df2` -- are created with the shared column `name`.  Note the different unique values in the `name` column in each.  Use `pd.merge` and choose the appropriate argument for `how` as either `left` or `right` to create the following table:

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>name</th>      <th>age</th>      <th>member</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>amy</td>      <td>32</td>      <td>True</td>    </tr>    <tr>      <th>1</th>      <td>ben</td>      <td>30</td>      <td>NaN</td>    </tr>    <tr>      <th>2</th>      <td>carlos</td>      <td>40</td>      <td>True</td>    </tr>  </tbody></table>

Assign your results to `ans5` below.

In [ ]:
df1 = pd.DataFrame({'name': ['amy', 'ben', 'carlos'],
                   'age': [32, 30, 40]})
df2 = pd.DataFrame({'name': ['amy', 'carlos', 'lenny'],
                   'member': [True, True, False]})

In [ ]:


ans5 = None


# Answer check
print(type(ans5))
ans5.head(2)